.linha{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	overflow: hidden;
	
}

.linha .grid-s1{
	background: #F44336;
	width: 8.33333333333%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.linha .grid-s2{
	background: #E91E63;
	width: 16.666666666%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.linha .grid-s3{
	background: #9C27B0;
	width: 25%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.linha .grid-s4{
	background: #673AB7;
	width: 33.333333333%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.linha .grid-s5{
	background: #3F51B5;
	width: 41.66666666%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #ffffff;	
}

.linha .grid-s6{
	background: #2196F3;
	width: 50%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.linha .grid-s7{
	background: #03A9F4;
	width: 58.33333333%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.linha .grid-s8{
	background: #00BCD4;
	width: 66.66666666%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.linha .grid-s9{
	background: #009688;
	width: 75%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.linha .grid-s10{
	background: #4CAF50;
	width: 83.333333333%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.linha .grid-s11{
	background: #8BC34A;
	width: 91.666666666%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.linha .grid-s12{
	background: #FFEB3B;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #ffffff;
}