/*-------------------------------------
	MIRANA CSS FRAMEWORK - VERSÃO BETA
---------------------------------------/*



/*------------------
		BASE
-------------------- */
.block{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.line{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	overflow: hidden;
}


/*------------------
	TYPOGRAPHY
-------------------- */
*{
	color: #555555;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 28px;
}
h4{
	font-size: 22px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 14px;
}




/* ------------------------ 
	GRID SMALL DEVICES 
---------------------------*/

/* grid small devices*/
.block .line .grid-sm-1{
	width: 8.33333333333%;
	box-sizing: border-box;
}

.block .line .grid-sm-2{
	width: 16.666666666%;
	box-sizing: border-box;
}

.block .line .grid-sm-3{
	width: 25%;
	box-sizing: border-box;
}

.block .line .grid-sm-4{
	width: 33.333333333%;
	box-sizing: border-box;
}

.block .line .grid-sm-5{
	width: 41.66666666%;
	box-sizing: border-box;	
}

.block .line .grid-sm-6{
	width: 50%;
	box-sizing: border-box;
}

.block .line .grid-sm-7{
	width: 58.33333333%;
	box-sizing: border-box;
}

.block .line .grid-sm-8{
	width: 66.66666666%;
	box-sizing: border-box;
}

.block .line .grid-sm-9{
	width: 75%;
	box-sizing: border-box;
}

.block .line .grid-sm-10{
	width: 83.333333333%;
	box-sizing: border-box;
}

.block .line .grid-sm-11{
	width: 91.666666666%;
	box-sizing: border-box;
}

.block .line .grid-sm-12{
	width: 100%;
	box-sizing: border-box;
}


/* pushs grid small devices */
.block .line .grid-sm-push1{
	margin-left: 8.33333333333%;
}

.block .line .grid-sm-push2{
	margin-left: 16.666666666%;
}

.block .line .grid-sm-push3{
	margin-left: 25%;
}

.block .line .grid-sm-push4{
	margin-left: 33.333333333%;
}

.block .line .grid-sm-push5{
	margin-left: 41.66666666%;
}

.block .line .grid-sm-push6{
	margin-left: 50%;
}

.block .line .grid-sm-push7{
	margin-left: 58.33333333%;
}

.block .line .grid-sm-push8{
	margin-left: 66.66666666%;
}

.block .line .grid-sm-push9{
	margin-left: 75%;
}

.block .line .grid-sm-push10{
	margin-left: 83.333333333%;
}

.block .line .grid-sm-push11{
	margin-left: 91.666666666%;
}

.block .line .grid-sm-push12{
	margin-left: 100%;
}



/* -----------------------------
		GRID MEDIUM DEVICES 
--------------------------------*/
@media screen and (min-width: 601px){
	/*grid medium devices*/
	.block .line .grid-md-1{
		width: 8.33333333333%;
		box-sizing: border-box;
	}

	.block .line .grid-md-2{
		width: 16.666666666%;
		box-sizing: border-box;
	}

	.block .line .grid-md-3{
		width: 25%;
		box-sizing: border-box;
	}

	.block .line .grid-md-4{
		width: 33.333333333%;
		box-sizing: border-box;
	}

	.block .line .grid-md-5{
		width: 41.66666666%;
		box-sizing: border-box;	
	}

	.block .line .grid-md-6{
		width: 50%;
		box-sizing: border-box;
	}

	.block .line .grid-md-7{
		width: 58.33333333%;
		box-sizing: border-box;
	}

	.block .line .grid-md-8{
		width: 66.66666666%;
		box-sizing: border-box;
	}

	.block .line .grid-md-9{
		width: 75%;
		box-sizing: border-box;
	}

	.block .line .grid-md-10{
		width: 83.333333333%;
		box-sizing: border-box;
	}

	.block .line .grid-md-11{
		width: 91.666666666%;
		box-sizing: border-box;
	}

	.block .line .grid-md-12{
		width: 100%;
		box-sizing: border-box;
	}


	/* pushs grid medium devices */
	.block .line .grid-md-push1{
		margin-left: 8.33333333333%;
	}

	.block .line .grid-md-push2{
		margin-left: 16.666666666%;
	}

	.block .line .grid-md-push3{
		margin-left: 25%;
	}

	.block .line .grid-md-push4{
		margin-left: 33.333333333%;
	}

	.block .line .grid-md-push5{
		margin-left: 41.66666666%;
	}

	.block .line .grid-md-push6{
		margin-left: 50%;
	}

	.block .line .grid-md-push7{
		margin-left: 58.33333333%;
	}

	.block .line .grid-md-push8{
		margin-left: 66.66666666%;
	}

	.block .line .grid-md-push9{
		margin-left: 75%;
	}

	.block .line .grid-md-push10{
		margin-left: 83.333333333%;
	}

	.block .line .grid-md-push11{
		margin-left: 91.666666666%;
	}

	.block .line .grid-md-push12{
		margin-left: 100%;
	}
}



/* -----------------------------
		GRID LARGE DEVICES 
--------------------------------*/
@media screen and (min-width: 992px){
	/*grid large devices*/
	.block .line .grid-lg-1{
		width: 8.33333333333%;
		box-sizing: border-box;
	}

	.block .line .grid-lg-2{
		width: 16.666666666%;
		box-sizing: border-box;
	}

	.block .line .grid-lg-3{
		width: 25%;
		box-sizing: border-box;
	}

	.block .line .grid-lg-4{
		width: 33.333333333%;
		box-sizing: border-box;
	}

	.block .line .grid-lg-5{
		width: 41.66666666%;
		box-sizing: border-box;	
	}

	.block .line .grid-lg-6{
		width: 50%;
		box-sizing: border-box;
	}

	.block .line .grid-lg-7{
		width: 58.33333333%;
		box-sizing: border-box;
	}

	.block .line .grid-lg-8{
		width: 66.66666666%;
		box-sizing: border-box;
	}

	.block .line .grid-lg-9{
		width: 75%;
		box-sizing: border-box;
	}

	.block .line .grid-lg-10{
		width: 83.333333333%;
		box-sizing: border-box;
	}

	.block .line .grid-lg-11{
		width: 91.666666666%;
		box-sizing: border-box;
	}

	.block .line .grid-lg-12{
		width: 100%;
		box-sizing: border-box;
	}


	/* pushs grid large devices */
	.block .line .grid-lg-push1{
		margin-left: 8.33333333333%;
	}

	.block .line .grid-lg-push2{
		margin-left: 16.666666666%;
	}

	.block .line .grid-lg-push3{
		margin-left: 25%;
	}

	.block .line .grid-lg-push4{
		margin-left: 33.333333333%;
	}

	.block .line .grid-lg-push5{
		margin-left: 41.66666666%;
	}

	.block .line .grid-lg-push6{
		margin-left: 50%;
	}

	.block .line .grid-lg-push7{
		margin-left: 58.33333333%;
	}

	.block .line .grid-lg-push8{
		margin-left: 66.66666666%;
	}

	.block .line .grid-lg-push9{
		margin-left: 75%;
	}

	.block .line .grid-lg-push10{
		margin-left: 83.333333333%;
	}

	.block .line .grid-lg-push11{
		margin-left: 91.666666666%;
	}

	.block .line .grid-lg-push12{
		margin-left: 100%;
	}
}



/* -----------------------------
	GRID EXTRA LARGE DEVICES 
--------------------------------*/
@media screen and (min-width: 1600px){
	/*grid extra large devices*/
	.block .line .grid-xlg-1{
		width: 8.33333333333%;
		box-sizing: border-box;
	}

	.block .line .grid-xlg-2{
		width: 16.666666666%;
		box-sizing: border-box;
	}

	.block .line .grid-xlg-3{
		width: 25%;
		box-sizing: border-box;
	}

	.block .line .grid-xlg-4{
		width: 33.333333333%;
		box-sizing: border-box;
	}

	.block .line .grid-xlg-5{
		width: 41.66666666%;
		box-sizing: border-box;	
	}

	.block .line .grid-xlg-6{
		width: 50%;
		box-sizing: border-box;
	}

	.block .line .grid-xlg-7{
		width: 58.33333333%;
		box-sizing: border-box;
	}

	.block .line .grid-xlg-8{
		width: 66.66666666%;
		box-sizing: border-box;
	}

	.block .line .grid-xlg-9{
		width: 75%;
		box-sizing: border-box;
	}

	.block .line .grid-xlg-10{
		width: 83.333333333%;
		box-sizing: border-box;
	}

	.block .line .grid-xlg-11{
		width: 91.666666666%;
		box-sizing: border-box;
	}

	.block .line .grid-xlg-12{
		width: 100%;
		box-sizing: border-box;
	}


	/* pushs grid extra large devices */
	.block .line .grid-xlg-push1{
		margin-left: 8.33333333333%;
	}

	.block .line .grid-xlg-push2{
		margin-left: 16.666666666%;
	}

	.block .line .grid-xlg-push3{
		margin-left: 25%;
	}

	.block .line .grid-xlg-push4{
		margin-left: 33.333333333%;
	}

	.block .line .grid-xlg-push5{
		margin-left: 41.66666666%;
	}

	.block .line .grid-xlg-push6{
		margin-left: 50%;
	}

	.block .line .grid-xlg-push7{
		margin-left: 58.33333333%;
	}

	.block .line .grid-xlg-push8{
		margin-left: 66.66666666%;
	}

	.block .line .grid-xlg-push9{
		margin-left: 75%;
	}

	.block .line .grid-xlg-push10{
		margin-left: 83.333333333%;
	}

	.block .line .grid-xlg-push11{
		margin-left: 91.666666666%;
	}

	.block .line .grid-xlg-push12{
		margin-left: 100%;
	}
}



/*----------------------
		ALIGNMENT
------------------------*/
 .align-between {
 	justify-content: space-between;
 }

 .align-around {
 	justify-content: space-around; 	
 }

 .align-start {
 	justify-content: flex-start; 
 }

 .align-end {
 	justify-content: flex-end;
 }

 .align-center {
 	justify-content: center;
 }

 .perfect-center{
 	justify-content: center;
 	align-items: center;
 }

 .vertical-content{
 	flex-direction: column;
 }



/*----------------------
		COMPONENTS
------------------------*/
.btn-white{
	padding: 10px 30px;
	background: #ffffff;
	border-radius: 40px;
	border-color: transparent;
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: .5s;
	font-weight: 600;

}

.btn-white:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-o-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-ms-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	opacity: .85;
}