/*--------------------
		BASE
----------------------*/
*{
	font-family: 'Open Sans', sans-serif;
	color: #555555;
}

section{
	color: #555555;
	padding: 40px 20px;
	text-align: center;
	line-height: 25px;
}


.title-section h2::after{
	content: "";
	display: block;
	width: 70px;
	height: 6px;
	background: #673AB7;
	margin: 10px auto;	
}




/*--------------------
		HEADER
----------------------*/
header {
	height: 580px;	
	background: linear-gradient(to right, #673AB7, #795548);
	text-align: center;	
}

.title-header{
	z-index: 1000;
	margin-top: 12%;
}

.title-header h1{
	color: #ffffff;
	font-size: 65px;
	font-weight: 900;
}

.title-header h4{
	color: #ffffff;
}


.mirana-btn{
	padding: 10px 30px;
	background: #ffffff;
	border-radius: 2px;
	border-color: transparent;
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: .2s;
	font-weight: 600;
	outline: none;
}

.mirana-btn:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-o-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-ms-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	opacity: .85;
}


@media(max-width: 600px){
	.title-header{
		z-index: 1000;
		margin-top: 40%;
	}

	.title-header h1{
		color: #ffffff;
		font-size: 45px;
		font-weight: 900;
	}
}



/*--------------------
		NAVBAR
----------------------*/
.mirana-navbar-sticky {
  overflow: hidden;
  background-color: #673AB7;
  opacity: .9;
}

.mirana-navbar-sticky a {
  color: #ffffff;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 16px;
  width: 22%;
  text-transform: uppercase;
  font-weight: 600;
}

.mirana-navbar-sticky a:hover {
  background-color: #ddd;
  color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%

}

.sticky + .content {
  padding-top: 60px;
}

@media(max-width: 1024px){
	.mirana-navbar-sticky{
		display: none;
	}
}




/*--------------------
		INTRO
----------------------*/
.box-description{
	padding: 15px 10px;
	text-align: center;	
}

.box-description i{
	font-size: 50px;
	color: #ffffff;
	border-radius: 50%;
	background: #673AB7;
	padding: 20px;
}

.fa-github{
	padding: 21px 25px!important;
}

.fa-mobile{
	padding: 20px 35px!important;
}

.intro2{
	margin-top: 35px;
}



/*--------------------
		GRIDS
----------------------*/

.grid3{
	background: #3F51B5;
	padding: 15px;
	color: #ffffff;
	font-weight: 600;
	border: 2px solid #ffffff;
}

.grid4{
	background: #E91E63;
	padding: 15px;
	color: #ffffff;
	font-weight: 600;
	border: 2px solid #ffffff;
}

.grid6{
	background: #03A9F4;
	padding: 15px;
	color: #ffffff;
	font-weight: 600;
	border: 2px solid #ffffff;
}

.box-grid{
	margin-bottom: 70px;
}

.box-grid h5{
	margin-bottom: 0px;
	opacity: .6;
}

.text-code{
	background: #f1f1f1;
	color: #f92665;
	padding: 2px 5px;
}




/*--------------------
		ALIGNMENTS
----------------------*/
.box-align{
	background: #f1f1f1;
}

.box-align div{
	background:  #673AB7;
	border: 1px solid #ffffff;
	color: #ffffff;
}


/*--------------------
		CODE EDIT
----------------------*/
.code-edit{
	box-shadow: 0 0 35px 5px rgba(0,0,0,.4);
    border-radius: 10px;
    background-color: #2b303b;
    padding: 30px;
    color: #ffffff; 
    margin-bottom: 50px;
    text-align: left;
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 14px;
}

.code-red{
 	color: #f92665;
}

.code-green{
 	color: #4CAF50;
}

.code-yellow{
 	color: #ffeb3b;
}



/*--------------------
		FOOTER
----------------------*/
footer{
	background: #2b303b;
	padding: 20px 0px;
	margin-top: 80px;
	text-align: center;	
}

footer p , footer a{
	color: #ffffff;
	text-decoration: none;
}