/*--------------------
		BASE
----------------------*/
*{
	font-family: 'Open Sans', sans-serif;
	color: #555555;
}

section{
	color: #555555;
	padding: 40px 20px;
	text-align: center;
	line-height: 25px;
}


.title-section h2::after{
	content: "";
	display: block;
	width: 70px;
	height: 6px;
	background: #3a7bd5;
	margin: 25px auto;	
}


/*--------------------
		HEADER
----------------------*/
header {
	height: 580px;	
	background: #00d2ff; 
	background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  
	background: linear-gradient(to right, #3a7bd5, #00d2ff); 
	padding: 0px 80px 0px 130px;
	margin-bottom: 40px;
}

.title-header{
	z-index: 1000;
	margin-top: 6%;
}

.title-header h1{
	color: #ffffff;
	font-size: 65px;
	font-weight: 900;
}

.title-header h4{
	color: #ffffff;
}

.header-img {
	margin-top: 9%;
}

.header-img img {
	width: 620px;
}


.mirana-btn{
	padding: 10px 30px;
	background: #ffffff;
	border-radius: 2px;
	border-color: transparent;
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: .2s;
	font-weight: 600;
	outline: none;
}

.mirana-btn:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-o-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-ms-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	opacity: .85;
}

.img-header{
	position: relative;
	bottom: 60px;
	left: 55%;
}



/*--------------------
		INTRO
----------------------*/
section{
	padding: 30px 0px 30px 0px;
	margin: 0;
}

.intro2{
	display: inline-flex;
	justify-content: center;
}

.box-description{
	padding: 0px 10px 30px 10px;
	text-align: center;	
	border: 1px solid #e5e5e5;
	margin: 10px 15px;
	box-sizing: border-box;
	height: 245px;
	transition: .1s;
}

.box-description:hover{
	border-bottom: 5px solid #3a7bd5;
}

.box-description:hover h4{
	color: #3a7bd5;
}

.box-description i{
	font-size: 45px;
	color: #ffffff;
	border-radius: 8px;
	background: #3a7bd5;
	padding: 20px;
	position: relative;
	bottom: 35px;
}

.box-description h4{
	font-weight: 400;
	margin-top: 0px;
}

.fa-github{
	padding: 21px 25px!important;
}

.fa-mobile{
	padding: 20px 35px!important;
}

.intro2{
	margin-top: 35px;
}


/*--------------------
		GRIDS
----------------------*/

.box-grid{
	margin-bottom: 70px;
}

.box-grid h5{
	margin-bottom: 0px;
	opacity: .6;
}

.text-code{
	background: #f1f1f1;
	color: #f92665;
	padding: 2px 5px;
}

.grid-box{
	background: #3a7bd5;
	padding: 26px;
	color: #ffffff;
	font-weight: 600;
	border: 2px solid #ffffff;
}


/*--------------------
		ALIGNMENTS
----------------------*/
.align-box{
	background: #3a7bd5;
	padding: 10px;
	margin-bottom: 50px;
}

.align-grid-ex{
	height: 50px;
	background: #ffffff;
	margin: 5px;
}


/*--------------------
		CODE EDIT
----------------------*/
.code-edit{
	box-shadow: 0 0 35px 5px rgba(0,0,0,.4);
    border-radius: 10px;
    background-color: #2b303b;
    padding: 30px;
    color: #ffffff; 
    margin-bottom: 50px;
    text-align: left;
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 14px;
}

.code-red{
 	color: #f92665;
}

.code-green{
 	color: #4CAF50;
}

.code-yellow{
 	color: #ffeb3b;
}


/*--------------------
		FOOTER
----------------------*/
footer{
	background: #2b303b;
	padding: 20px 0px;
	margin-top: 80px;
	text-align: center;	
}

footer p , footer a{
	color: #ffffff;
	text-decoration: none;
}


@media(max-width: 600px){
	header{
		padding: 0px 80px 0px 50px;
		height: 540px;	
	}

	.title-header{
		z-index: 1000;
		margin-top: 40%;
	}

	.title-header h1{
		color: #ffffff;
		font-size: 45px;
		font-weight: 900;
	}

	.box-description{
		margin: 30px 15px;
	}

	.header-img img {
		display: none;
	}
}

@media(min-width: 601px) and (max-width: 1024px){
	.header-img img {
		display: none;
	}

	header{
		height: 500px;	
		text-align: center;
	}

	.title-header {
		width: 100%;
		margin-top: 13%;
	}
}
